body {
    background-image: url("../images/SSB-Background.png");
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center;
}

h1 {
    text-align: center;
    color: black;
}

.col {
    text-align: center;
    color: black;
}

.jumbotron {
    width: 80%;
    margin: 0 auto;
    background-image: url("");
    background-size: cover;
    color: white; 
}

#logo-img {
    width: 50%;
    height: auto;
}

#character-selection-row {
    border: 2px solid black;
}

#character-selection-container {
    width: 100%;
    padding: 10px;
}

.card {
    width: 148px;
    height: 290px; 
    display: inline-block; 
    vertical-align: top;
    clear: both;
    margin: 10px;
    padding-bottom: 5px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    text-align: center;
}

.card-title {
    color: black;
    text-align: center;
}

.card-text {
    color: black;
    text-align: center;
}

#enemies-row {
    border: 2px solid black;
    display: none;
}

#battlefield-row {
    border: 2px solid black;
}

#current-player-character-column {
    border: 2px solid black;
}

#current-enemy-character-column {
    border: 2px solid black;
}

#game-content-row {

}

#attack-container {
    float: left;
}

#stat-container {
    border: 2px solid black;
    width: 60%;
}

#wins-text-col {
    float: left;
    overflow: hidden;
    text-align: center;
}

#losses-text-col {
    float: right;
    overflow: hidden;
    text-align: center;
}